{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %} 
{% block conteudo %}

   
    
<div class="list-group" style="margin-left:350px">
    <a href="#" class="list-group-item list-group-item-action">PROJETO INTEGRADOR EM COMPUTAÇÃO I.</a>
    
    <a href="#" class="list-group-item list-group-item-action list-group-item-success">GRUPO 001 - POLO ITAPEVA - SP</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-success">ORIENTADORA - 
        THAIS SANTOS CASTRO</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-success">Davi Garcia de Almeida </a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-success">Jean Eduardo Higa</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-success">Julio Cesar Correa Amaro</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-success">Kainã Garcia Morais</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-success">Matheus José Amaral</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-success">Thales Ruan Rodrigues da Silva</a>
   
  </div>

{% endblock %}