{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %} 
{% block conteudo %}
<h3>
    <a href="{% url 'cadastrar-instituicao' %}" class="btn btn-primary btn-sm float-left">Adicionar Instituição</a>
    <br>
    <br>
    Lista de Instituições registradas
    <br>
    
</h3>
<table class="table table-striped">
    <tr>
        <th>id</th>
        <th>Nome da Instituição</th>
        <th>email</th>
        <th>Endereço</th>
        <th>Opções</th>
    </tr>
    {% for instituicao in object_list %}
    <tr>
        <td>{{instituicao.id}}</td>
        <td>{{instituicao.nome}}</td>
        <td>{{instituicao.email}}</td>
        <td>{{instituicao.endereco}}</td>
        <td>
            <a href="{% url 'deletar-instituicao' instituicao.pk %}" class="btn btn-warning">Editar</a>
            <a href="{% url 'deletar-instituicao' instituicao.pk %}" class="btn btn-danger">Excluir</a>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="3">Nenhuma usuario cadastrada!</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}