{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %} 
{% block conteudo %}



<h3>
    <a href="{% url 'cadastrar-usuario' %}" class="btn btn-primary btn-sm float-left">Adicionar Usuario</a>
    <br>
    <br>
    Lista de Usuários registrados
    <br>
    
</h3>

<table class="table table-striped">
    <tr>
        <th>id</th>
        <th>Nome</th>
        <th>email</th>
        <th>Opções</th>
    </tr>
    {% for usuario in object_list %}
    <tr>
        <td>{{usuario.id}}</td>
        <td>{{usuario.nome}}</td>
        <td>{{usuario.email}}</td>
        <td>
            <a href="{% url 'deletar-usuario' usuario.pk %}" class="btn btn-warning">Editar</a>
            <a href="{% url 'deletar-usuario' usuario.pk %}" class="btn btn-danger">Excluir</a>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="3">Nenhuma usuario cadastrada!</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}