{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %} 
{% block conteudo %}
<h6>
<img src="{% static 'img/pessoas.png' %}" class="rounded" alt="Logo" style="width:105px;">
A criação de um sistema web para conectar pessoas que
gostariam de realizar doações para instituições ou entidades assistências.
</h6>
<br>
<h6>
<img src="{% static 'img/design.png' %}" class="rounded" alt="Logo" style="width:100px;">
Utilizando a metodologia do Design Thinking na construção e solução do projeto.
</h6>
<br>
<h6>
<img src="{% static 'img/django.png' %}" class="rounded" alt="Logo" style="width:50px;">
<img src="{% static 'img/python.png' %}" class="rounded" alt="Logo" style="width:50px;">
Construindo o sistema com o framework Django e a linguagem Python.
</h6>
<br>
<h6>
<img src="{% static 'img/git.png' %}" class="rounded" alt="Logo" style="width:50px;">
<img src="{% static 'img/sqlite.png' %}" class="rounded" alt="Logo" style="width:60px;">
Git para controle de versões e SQLite para gerenciamento do banco de dados.
</h6>


{% endblock %}